/*	#col-right1{
			width: 60%;
			float: right;
			margin: 2% 0 0 0;
		}*/
		.form-style label,.form-style input{
			margin-top:10px;
		}
		/*#col-left1{
			width: 40%;
		}*/
		#btnDeP{
			margin: 10px 0 5px 10px;
		}
		#tb-search{

   			 margin: -9px 0 5px 197px;

		}
		#edtCName{
			width: 85%;
		}
		#col-right2{
			float: right;
			margin: 2% 2% 0 0;
		}
		.col-product table{
			width: 100%;
			border-collapse: separate;
			border-spacing: 10px 3px;
		}
		.col-product table th{
			width: 50%;
		}
		.gonbutton{
			display: none;
		}
		.gonClass{
			display: none;
		}
		.table1 {
			width: 100%;

		}
		.table1 thead th{
			color: red;
			text-align: center;
		}
		.table1 tbody th{
			
			text-align: center;
		}
		